<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <title>Tavolga</title>
</head>
<body>

<div class="center">
   
        
            <header class="header">
                <div class="chevron"><i class="fas fa-chevron-left"></i></div>                
                <img class="img__header" src="https://i.ibb.co/2FmWy1Y/logo.png" alt="">
            </header>
            <br>
            <div class="nomination">Участники</div>
            <br>
        

           <div class="users">

            <div class="users__block">
                <div class="user__border">
                    <div class="user__text">
                    <div class="user__id">1. </div>
                    <div class="user__name">Пользователь</div>
                    <div class="users__points">
                        <div class="point__number">100</div>
                        <div class="point__check">
                            <div class="point__border point__border--true">проверен</div>
                        </div>
                    </div>
                 </div>
                </div>
             </div>

                 <div class="users__block">
                    <div class="user__border">
                        <div class="user__text">
                        <div class="user__id">2. </div>
                        <div class="user__name">Пользователь</div>
                        <div class="users__points">
                            <div class="point__number">-</div>
                            <div class="point__check">
                                <div class="point__border point__border--false"><nobr>не проверен</nobr></div>
                            </div>
                        </div>
                     </div>
                    </div>
                 </div>
            </div>
       
</div>


</body>
<script src="https://kit.fontawesome.com/ca62975fc8.js" crossorigin="anonymous"></script>

</html>