{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Tavolga</title>
</head>
<body>

<div class="center">
   
       <div class="window window--2">
           <div class="chevron"><i class="fas fa-chevron-left"></i></div>
        
           <div class="nomination">{{ name }}</div>
        </div>

           <div class="users">

               {% for obj in object_list %}

            <div class="users__block">
                <div class="user__border">
                    <div class="user__text">
                    <div class="user__id">1. </div>
                    <div class="user__name">{{ obj.name }}</div>
                 </div>
                </div>
             </div>

               {% endfor %}
            </div>
       
</div>


</body>
<script src="https://kit.fontawesome.com/ca62975fc8.js" crossorigin="anonymous"></script>

</html>